<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>code</key>
	<integer>200</integer>
	<key>data</key>
	<dict>
		<key>clock</key>
		<integer>6</integer>
		<key>is_clock</key>
		<integer>0</integer>
		<key>scores_data_list</key>
		<array>
			<dict>
				<key>score_data</key>
				<array>
					<dict>
						<key>length</key>
						<integer>1</integer>
						<key>nums</key>
						<integer>1</integer>
						<key>scores_name</key>
						<string>12.小赋格</string>
					</dict>
					<dict>
						<key>length</key>
						<integer>1</integer>
						<key>nums</key>
						<integer>1</integer>
						<key>scores_name</key>
						<string>5.bD大调与bb小调</string>
					</dict>
					<dict>
						<key>length</key>
						<integer>1</integer>
						<key>nums</key>
						<integer>1</integer>
						<key>scores_name</key>
						<string>A3.1 A小调前奏曲 德米特里-肖斯塔科维奇</string>
					</dict>
					<dict>
						<key>length</key>
						<integer>0</integer>
						<key>nums</key>
						<integer>8</integer>
						<key>scores_name</key>
						<string>1.左手的旋律</string>
					</dict>
					<dict>
						<key>length</key>
						<integer>0</integer>
						<key>nums</key>
						<integer>13</integer>
						<key>scores_name</key>
						<string>3.班卓琴小调</string>
					</dict>
				</array>
				<key>total_data</key>
				<dict>
					<key>scores_nums</key>
					<integer>16</integer>
					<key>total_length</key>
					<integer>1</integer>
					<key>total_nums</key>
					<integer>58</integer>
					<key>content</key>
					<string>一份耕耘，一份收获，快去练习吧</string>
					<key>contrast</key>
					<integer>0</integer>
				</dict>
			</dict>
			<dict>
				<key>score_data</key>
				<array>
					<dict>
						<key>length</key>
						<integer>1</integer>
						<key>nums</key>
						<integer>1</integer>
						<key>scores_name</key>
						<string>12.小赋格</string>
					</dict>
					<dict>
						<key>length</key>
						<integer>1</integer>
						<key>nums</key>
						<integer>1</integer>
						<key>scores_name</key>
						<string>5.bD大调与bb小调</string>
					</dict>
					<dict>
						<key>length</key>
						<integer>1</integer>
						<key>nums</key>
						<integer>1</integer>
						<key>scores_name</key>
						<string>A3.1 A小调前奏曲 德米特里-肖斯塔科维奇</string>
					</dict>
					<dict>
						<key>length</key>
						<integer>0</integer>
						<key>nums</key>
						<integer>8</integer>
						<key>scores_name</key>
						<string>1.左手的旋律</string>
					</dict>
					<dict>
						<key>length</key>
						<integer>0</integer>
						<key>nums</key>
						<integer>13</integer>
						<key>scores_name</key>
						<string>3.班卓琴小调</string>
					</dict>
				</array>
				<key>total_data</key>
				<dict>
					<key>scores_nums</key>
					<integer>16</integer>
					<key>total_length</key>
					<integer>1</integer>
					<key>total_nums</key>
					<integer>58</integer>
					<key>content</key>
					<string>一份耕耘，一份收获，快去练习吧</string>
					<key>contrast</key>
					<integer>0</integer>
				</dict>
			</dict>
			<dict>
				<key>score_data</key>
				<array>
					<dict>
						<key>length</key>
						<integer>1</integer>
						<key>nums</key>
						<integer>1</integer>
						<key>scores_name</key>
						<string>12.小赋格</string>
					</dict>
					<dict>
						<key>length</key>
						<integer>1</integer>
						<key>nums</key>
						<integer>1</integer>
						<key>scores_name</key>
						<string>5.bD大调与bb小调</string>
					</dict>
					<dict>
						<key>length</key>
						<integer>1</integer>
						<key>nums</key>
						<integer>1</integer>
						<key>scores_name</key>
						<string>A3.1 A小调前奏曲 德米特里-肖斯塔科维奇</string>
					</dict>
					<dict>
						<key>length</key>
						<integer>0</integer>
						<key>nums</key>
						<integer>8</integer>
						<key>scores_name</key>
						<string>1.左手的旋律</string>
					</dict>
					<dict>
						<key>length</key>
						<integer>0</integer>
						<key>nums</key>
						<integer>13</integer>
						<key>scores_name</key>
						<string>3.班卓琴小调</string>
					</dict>
				</array>
				<key>total_data</key>
				<dict>
					<key>scores_nums</key>
					<integer>16</integer>
					<key>total_length</key>
					<integer>1</integer>
					<key>total_nums</key>
					<integer>58</integer>
					<key>content</key>
					<string>一份耕耘，一份收获，快去练习吧</string>
					<key>contrast</key>
					<integer>0</integer>
				</dict>
			</dict>
			<dict>
				<key>score_data</key>
				<array>
					<dict>
						<key>length</key>
						<integer>5</integer>
						<key>nums</key>
						<integer>5</integer>
						<key>scores_name</key>
						<string>B2 小咏叹调 爱德华-格里格</string>
					</dict>
					<dict>
						<key>length</key>
						<integer>5</integer>
						<key>nums</key>
						<integer>5</integer>
						<key>scores_name</key>
						<string>1.天真烂漫</string>
					</dict>
					<dict>
						<key>length</key>
						<integer>4</integer>
						<key>nums</key>
						<integer>3</integer>
						<key>scores_name</key>
						<string>7.二月里来</string>
					</dict>
					<dict>
						<key>length</key>
						<integer>4</integer>
						<key>nums</key>
						<integer>1</integer>
						<key>scores_name</key>
						<string>10.打莲湘</string>
					</dict>
					<dict>
						<key>length</key>
						<integer>4</integer>
						<key>nums</key>
						<integer>4</integer>
						<key>scores_name</key>
						<string>B2 德意志风格的急板 路德维希-范-贝多芬</string>
					</dict>
					<dict>
						<key>length</key>
						<integer>4</integer>
						<key>nums</key>
						<integer>2</integer>
						<key>scores_name</key>
						<string>1.天真烂漫</string>
					</dict>
					<dict>
						<key>length</key>
						<integer>3</integer>
						<key>nums</key>
						<integer>3</integer>
						<key>scores_name</key>
						<string>9.两只老虎</string>
					</dict>
					<dict>
						<key>length</key>
						<integer>3</integer>
						<key>nums</key>
						<integer>1</integer>
						<key>scores_name</key>
						<string>11.布列舞曲</string>
					</dict>
					<dict>
						<key>length</key>
						<integer>3</integer>
						<key>nums</key>
						<integer>3</integer>
						<key>scores_name</key>
						<string>2.A大调</string>
					</dict>
					<dict>
						<key>length</key>
						<integer>3</integer>
						<key>nums</key>
						<integer>5</integer>
						<key>scores_name</key>
						<string>1.练习曲</string>
					</dict>
					<dict>
						<key>length</key>
						<integer>2</integer>
						<key>nums</key>
						<integer>2</integer>
						<key>scores_name</key>
						<string>2.G大调</string>
					</dict>
					<dict>
						<key>length</key>
						<integer>1</integer>
						<key>nums</key>
						<integer>1</integer>
						<key>scores_name</key>
						<string>12.小赋格</string>
					</dict>
					<dict>
						<key>length</key>
						<integer>1</integer>
						<key>nums</key>
						<integer>1</integer>
						<key>scores_name</key>
						<string>5.bD大调与bb小调</string>
					</dict>
					<dict>
						<key>length</key>
						<integer>1</integer>
						<key>nums</key>
						<integer>1</integer>
						<key>scores_name</key>
						<string>A3.1 A小调前奏曲 德米特里-肖斯塔科维奇</string>
					</dict>
					<dict>
						<key>length</key>
						<integer>0</integer>
						<key>nums</key>
						<integer>8</integer>
						<key>scores_name</key>
						<string>1.左手的旋律</string>
					</dict>
					<dict>
						<key>length</key>
						<integer>0</integer>
						<key>nums</key>
						<integer>13</integer>
						<key>scores_name</key>
						<string>3.班卓琴小调</string>
					</dict>
				</array>
				<key>total_data</key>
				<dict>
					<key>scores_nums</key>
					<integer>16</integer>
					<key>total_length</key>
					<integer>1</integer>
					<key>total_nums</key>
					<integer>58</integer>
				</dict>
			</dict>
		</array>
	</dict>
	<key>message</key>
	<string></string>
	<key>state</key>
	<integer>-1</integer>
</dict>
</plist>
